platforms
plugins
node_modules
www/index.js
www/style.css
www/style.css.map
www/templates.js
.DS_Store
npm-debug.log
debug.log
*~
www-*
*.sublime*
.vscode
.npm
.idea

config.js
www/data/image_source/*

www/images/mission_taxon/mission/thumb/*
www/images/mission_taxon/mission/poster/*
www/images/mission_taxon/taxon/thumb/*
www/images/mission_taxon/taxon/poster/*