<div class="media-left thumb">
    <a class="js-link-mission" href="#mission/<%= data.mission.id %>">
        <img class="media-object" src="./images/mission_taxon/mission/thumb/<%= data.mission.thumb %>" />
    </a>
</div>
<div class="media-body text">
	<a class="js-link-mission" href="#mission/<%= data.mission.id %>">
	    <div class="media-heading title">
	    	<div class="text"><%= data.mission.title %></div>
	    </div>
	    <div class="meta">
	    	<span class="taxon"><%= data.mission.taxon.species %></span>
	    	<span class="season text-primary">
	    		<span class="icon icomoon">time</span>
	    		<span class="period"><%= data.mission.displaySeason %></span>
            	<span class="delta"><%= i18n.t('mission.deltaLong', {count: data.mission.inSeason.end.delta+1})%>
            	</span>
	    	</span>
	    </div>
		<div class="options">
			<div class="badge-circle no-border bg-blue accept">
		    	<span class="icon icomoon">check</span>
		    </div>
		    <div class="badge-circle no-border bg-orange-light complete">
		    	<span class="icon icomoon">palms</span>
		    </div>
		    <div class="icon icomoon difficulty">difficulty_<%= data.mission.difficultyName %></div>
	    </div>
	</a>
</div>