<% if( data.observation.photos.length ) { %>
    <% if( data.observation.photos[0].url ) { %>
        <% var photoLink = data.observation.photos[0].url %>
    <% }else{ %>
        <% var photoLink = data.observation.photos[0].externUrl %>
    <% } %>
<div class="photo hidden-by-keyboard">
    <div class="img" style="background-image: url('<%= photoLink %>');">
        <% if(data.observation.photos.length > 1){ %>
        <ul class="others clearfix list-unstyled">
        <% for (var i=1; i<data.observation.photos.length; i++) {%>
            <% if( data.observation.photos[i].url ) { %>
                <li class="pull-left" style="background-image: url('<%= data.observation.photos[i].url %>');"></li>
            <% }else{ %>
                <li class="pull-left" style="background-image: url('<%= data.observation.photos[i].externUrl %>');"></li>
            <% } %>
        <%} %>
        </ul>
        <% } %>
        <div class="add-photo floating floating-top floating-right">
            <form class="add-photo-browser" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" />
                <input type="submit" value="upload file"></input>
            </form>
        </div>
    </div>
    <% if ( data.observation.photos.length < 3 && !data.observation.shared ) { %>
        <button type="button" class="btn bg-brown btn-fab btn-add-photo capture-photo-js">
            <span class="icon icomoon">add_images</span>
        </button>
    <% } %>
</div>
<% } %>

